body{
    font-family: Arial, Helvetica, sans-serif;
}
.sub{
    padding: 10px;
    background-color: black;
    color: aliceblue;
    border-radius: 50px;
    margin-bottom: 30px;
    font-weight: bold;
    cursor: pointer;
}
.input{
    font-size: 15px;
    padding: 10px ; 
    
}
.Calculate{
    background-color: green;
    color: aliceblue;
    padding: 12px 15px;
    border: none;
    font-size: 15px;
    cursor: pointer;
}
.is-subscribed{
    
        background-color: rgb(240, 240, 240);
        color: black;
        border: none;
        padding: 10px;

}